body{
   background-color: #f7f7f7;
}
.header-title{
  color: #171717;
}
.body-text{
  color: #171717;
}

.header-font-size{
  font-size: clamp(1rem, 13vw, 3rem);
}
.body-font-size{
font-size: clamp(0.5rem, 6vw, 1.3rem);
}

.buttonStonk{
  border-radius: 20px;
}
