.home-container{
  min-height: 100dvh;
  max-width: 1700px;
  margin: auto;
}

.home-container__cards{
  display: grid;
  grid-template-columns: repeat( 2, minmax(250px, 1fr));
  grid-gap: 5rem;
}

@media screen and (max-width: 860px){
  .home-container__cards{
    grid-template-columns: 1fr;
  }
}
